<h2>
  Join Finstagram!
</h2>
<ul class="errors">
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<header>
  <h1>Finstagram</h1>
</header>
<main role="main">
<Form method="POST" actions="/signup">
  <div class="form-group">

    <Label for="email">Email</Label>
    <input type="email" id="email" name="email" value="<%= @user.email %>">
  </div>
  <div class="form-group">
    <Label for="avatat_url">Avatar URL</Label>
    <input type="text" id="avatar_url" name="avatar_url" value="<%= @user.avatar_url %>">
  </div>
  <div class="form-group">
    <Label for="username">Username</Label>
    <input type="text" id="username" name="username" value="<%= @user.username %>">
  </div>
  <div class="form-group">
      <Label for="password">Password</Label>
      <input type="password" id="password" name="password">
  </div>
  <div class="form-group">
      <button class="button" type "submit">Signup</button>
  </div>
<main/>
</Form>